pip3 install --upgrade pip
pip3 install -U pip setuptools
pip3 install virtualenv
pip3 install paho-mqtt
pip3 install numpy qpsolvers
pip3 install pynput
pip3 install progress progressbar2 alive-progress tqdm
pip3 install cvxpy
pip3 install qpsolvers qpsolvers[cvxopt]